$awesome-font-path: 'font-awesome/fonts' !default;
$awesome-font-family: 'fontawesome' !default;

$awesome-var-android-contract: '\f066';
$awesome-var-android-expand: '\f065';

$awesome-var-ios-arrow-left: '\f104';
$awesome-var-ios-arrow-right: '\f105';

$awesome-var-ios-play: '\f04b';
$awesome-var-ios-pause: '\f04c';
